@font-face{
    font-family: "Intro Regular";
    src: url(fonts\ofont.ru_Intro.ttf);
}
html{

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

  body
  {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
h1{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 71px;
    text-align: center;
}
h2{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    
    color: #000000;
}
img{
    display: block;
    max-width: 100%;
}
ul.menu a {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.menu-button1 {
    position: absolute;
    width: 138px;
    height: 31px;
    left: 370px;
    top: 79px; 
    z-index: 1;
}
.menu-button2 {
    position: absolute;
    width: 137px;
    height: 30px;
    left: 542px;
    top: 80px;
    z-index: 1;
}
.menu-button3 {
    position: absolute;
    width: 138px;
    height: 29px;
    left: 712px;
    top: 80px;
    z-index: 1;
}
.menu-button4 {
    position: absolute;
    width: 170px;
    height: 31px;
    left: 1050px;
    top: 79px;
    z-index: 1;
}
.menu-button5 {
    position: absolute;
    width: 120px;
    height: 31px;
    left: 1255px;
    top: 80px;
    z-index: 1;
}
.menu-button6{
    position: absolute;
    width: 141px;
    height: 32px;
    left: 1409px;
    top: 80px;
    z-index: 1;
}
li a:hover {
    color: rgb(0, 0, 0); 
   }
.head {
    position: absolute;
    width: 100%;
    height: 191.92px;
    left: 0;
    top: 0;
    max-width: 100%;
    
    background: #000000;   
}
.navpage {
    position: absolute;
    width: 100%;
    height: 33.28px;
    left: -2px;
    top: 78px;
    max-width: 100%;

    background: #811919;
}
.logo {
    position: absolute;
    width: 186px;
    height: 191.92px;
    left: 851px;
    top: 2.08px;
}
.slider{
    position: absolute;
    width: 1920px;
    height: 737.97px;
    left: 0px;
    top: 184.03px;
    max-width: 100%;
}
.slider-header{
    position: absolute;
    width: 759px;
    height: 83px;
    left: 337px;
    top: 419px;

    

color: #FFFFFF;
}
.slider-text{
    position: absolute;
    width: 581px;
    height: 229px;
    left: 370px;
    top: 550px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #FFFFFF;
}
.slider-section_turned{
    position: absolute;
    width: 16px;
    height: 16.8px;
    left: 917px;
    top: 889.91px;
    border-radius: 90%;
    background: #FFFFFF;
   
}
.slider-section_1{
    position: absolute;
    width: 16px;
    height: 16.8px;
    left: 951px;
    top: 889.91px;
    border-radius: 90%;
    background: #9E9C9C;
    
}
.slider-section_2{
    position: absolute;
    width: 16px;
    height: 16.8px;
    left: 985px;
    top: 889.91px;
    border-radius: 90%;
    background: #9E9C9C;
    
}
.arrow-left{
    margin: 20px 8px;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0%;
    right: 98%;
    top: 50%;
    bottom: 85.89%;
    transform: rotate(180deg);
}
.arrow-right{
    margin: 20px 8px;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 95%;
    right: 0%;
    top: 50%;
    bottom: 85.89%;
    
}
.advantages{
    position: absolute;
    width: 759px;
    height: 83px;
    left: 580px;
    top: 987px;


    color: #000000;
}
.adv{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    color: #000000;
}
.adv_1{
    position: absolute;
    width: 186px;
    height: 92px;
    left: 468px;
    top: 1131px;
}
.adv_2{
    position: absolute;
    width: 230px;
    height: 77px;
    left: 863px;
    top: 1135px;
}
.adv_3{
    position: absolute;
    width: 230px;
    height: 54px;
    left: 1320px;
    top: 1135px;
}
.adv_4{
    position: absolute;
    width: 180px;
    height: 84px;
    left: 468px;
    top: 1233px;
}
.adv_5{
    position: absolute;
    width: 230px;
    height: 77px;
    left: 863px;
    top: 1236px;
}
.adv_6{
    position: absolute;
    width: 230px;
    height: 77px;
    left: 1320px;
    top: 1240px;
}
.adv1{
    position: absolute;
width: 66px;
height: 81px;
left: 370px;
top: 1114px;
}
.adv2{
    position: absolute;
    width: 66px;
    height: 61px;
    left: 797px;
    top: 1124px;
}
.adv3{
    position: absolute;
    width: 85px;
    height: 74px;
    left: 1235px;
    top: 1121px;
}
.adv4{
    position: absolute;
    width: 38px;
    height: 63px;
    left: 384px;
    top: 1243px;
}
.adv5{
    position: absolute;
    width: 58px;
    height: 70px;
    left: 797px;
    top: 1240px;
}
.adv6{
    position: absolute;
    width: 70px;
    height: 71px;
    left: 1243px;
    top: 1243px;
}
.consult{
    position: absolute;
    width: 364px;
    height: 48px;
    left: 780px;
    top: 1405px;
    
    background: #811919;
    border-radius: 79px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    
    color: #FFFFFF;
}
.line_1{
    position: absolute;
    width: 1920px;
    height: 0px;
    top: 1485px;
    
    border: 1px solid #A9A9A9;
    transform: matrix(-1, 0, 0, -1, 0, 0);
}
.section2_text{
    position: absolute;
    width: 407px;
    height: 45.63px;
    left: 263px;
    top: 1495px;
    
    
}
.sol_1{
    position: absolute;
    width: 844px;
    height: 418px;
    left: 228px;
    top: 1594px;
    
    background: rgba(243, 242, 242, 0.69);
    border-radius: 105px;
}
.sol_2{
    position: absolute;
    width: 616.84px;
    height: 418px;
    left: 1109px;
    top: 1594px;
    
    background: rgba(243, 242, 242, 0.69);
    border-radius: 105px;  
}
.sol_3{
    position: absolute;
    width: 511px;
    height: 348px;
    left: 228px;
    top: 2103px;
    
    background: rgba(243, 242, 242, 0.69);
    border-radius: 105px;
}
.sol_4{
    position: absolute;
    width: 499px;
    height: 350.36px;
    left: 799px;
    top: 2091.64px;
    
    background: rgba(243, 242, 242, 0.69);
    border-radius: 105px;
}
.sol_5{
    position: absolute;
    width: 385px;
    height: 364px;
    left: 1341px;
    top: 2092px;
    
    background: rgba(243, 242, 242, 0.69);
    border-radius: 105px;
}
.solutions a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    
    color: #000000;
}
.sol_1 a{
    position: absolute;
    width: 219.26px;
    height: 108px;
    left: 450px;
    top: 150px;
}
.sol_2 a{
    position: absolute;
    width: 200.58px;
    height: 108px;
    left: 350px;
    top: 150px;
    
}
.sol_3 a{
    position: absolute;
    width: 219.26px;
    height: 108px;
    left: 160px;
    top: 250px;
}
.sol_4 a{
    position: absolute;
    width: 219.26px;
    height: 108px;
    left: 145px;
    top: 250px;
}
.sol_5 a{
    position: absolute;
    width: 219.26px;
    height: 108px;
    left: 85px;
    top: 250px;
}
.light_1{
    position: absolute;
    width: 416.5px;
    height: 323px;
    left: 25px;
    top: 65px;
}
.light_2{
    position: absolute;
    width: 381.02px;
    height: 323px;
    left: 25px;
    top: 65px;
}
.light_3{
    position: absolute;
    width: 443px;
    height: 289px;
    left: 45px;
    top: -45px;
}
.light_4{
    position: absolute;
    width: 433px;
    height: 393px;
    left: 45px;
    bottom: 125px;
}
.light_5{
    position: absolute;
    width: 315.2px;
    height: 203.77px;
    left: 45px;
    bottom: 125px;
}
.order{
    position: absolute;
    width: 253px;
    height: 48px;
    left: 835px;
    top: 2549px;
    
    background: #811919;
    border-radius: 79px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    
    color: #FFFFFF;
}
.section3_text{
    position: absolute;
    width: 1068px;
    height: 111px;
    left: 416px;
    top: 2656px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    
    color: #000000;
}
.line_2{
    position: absolute;
    width: 1920px;
    height: 0px;
    top: 2760px;
    
    border: 1px solid #A9A9A9;
    transform: matrix(-1, 0, 0, -1, 0, 0);
}
.dialux_1{
    position: absolute;
    width: 541px;
    height: 295px;
    left: 372px;
    top: 2800px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    color: #000000;
}
.dialux_2{
    position: absolute;
    width: 620px;
    height: 250px;
    left: 932px;
    top: 2800px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    color: #000000;
    
}
.order_background {
    position: absolute;
    width: 100%;
    height: 242.35px;
    left: 2px;
    top: 3199px;
    background: #EEEEEE;
}
.order_title {
    position: absolute;
    width: 852px;
    height: 45.63px;
    left: 480px;
    top: 220x;
    text-align: center;
}
.order_text {
    position: absolute;
    width: 602px;
    height: 72px;
    left: 600px;
    top: 100px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #000000;
}
.order_cons {
    position: absolute;
    width: 364px;
    height: 30px;
    left: 767px;
    top: 3372.4px;

    background: #811919;
    border-radius: 79px;
    position: absolute;
    width: 223.44px;
    height: 60px;
    left: 830.02px;
    top: 175px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
 

    text-align: center;

    color: #FFFFFF;
}

.svodka{
    position: absolute;
    width: 100%;
    height: 802px;
    left: 0px;
    top: 3591px;

    background: #000000;
}
.panel_1_head{
    position: absolute;
    width: 280px;
    height: 76px;
    left: 675px;
    top: 20px;
    
    font-family: 'Marmelad';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    
    color: #000000;
}
.panel_1_img{
    position: absolute;
    width: 787px;
    height: 390px;
    left: 274px;
    
}
.panel_1{
    position: absolute;
    width: 285px;
    height: 141px;
    left: 684px;
    top: 130px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

color: #000000;
}
.panel_2{
    position: absolute;
    width: 285px;
    height: 141px;
    left: 1380px;
    top: 130px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    
    color: #000000;
}
.panel_2_head{
    position: absolute;
    width: 330px;
    height: 108px;
    left: 1375px;
    top: 20px;
    
    font-family: 'Marmelad';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    
    color: #000000;
    
}
.panel_2_img{
    position: absolute;
    width: 787px;
    height: 390px;
    left: 986px;
}
.panel_3{
    position: absolute;
    width: 285px;
    height: 141px;
    left: 684px;
    top: 550px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    
    color: #000000;
}
.panel_3_head{
    position: absolute;
    width: 311px;
    height: 76px;
    left: 668px;
    top: 450px;
    
    font-family: 'Marmelad';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    
    color: #000000;
}
.panel_3_img{
    position: absolute;
    width: 787px;
    height: 406.12px;
    left: 274px;
    top: 400px;
}
.panel_4{
    position: absolute;
    width: 285px;
    height: 141px;
    left: 1380px;
    top: 550px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    
    color: #000000;
}
.panel_4_head{
    position: absolute;
    width: 280px;
    height: 76px;
    left: 1375px;
    top: 450px;
    
    font-family: 'Marmelad';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    
    color: #000000;
}
.panel_4_img{
    position: absolute;
    width: 787px;
    height: 390px;
    left: 986px;
    top: 400px;
}
.price{
    position: absolute;
    width: 364px;
    height: 48.67px;
    left: 767px;
    top: 730px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    
    color: #FFFFFF;

    background: #811919;
    border-radius: 79px;
}
.price a{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
.portfolio {
    display: flex;
    position: absolute;
    height: 798px;
    left: 0px;
    right: 0px;
    top: 0px;
   
    background: #EEEEEE;
    top: 4528px;
}
.portfolio h2{
    position: absolute;
    width: 214.33px;
    height: 45px;
    left: 841px;
    top: 23px;   
}

.room_1{
    position: absolute;
    width: 385px;
    height: 330px;
    left: 362px;
    top: 187px;
    
    border-radius: 20px;
}
.room_2{
    position: absolute;
    width: 382.68px;
    height: 330px;
    left: 757px;
    top: 187px;
   
    border-radius: 20px;
}
.room_3{
    position: absolute;
    width: 383.84px;
    height: 330px;
    left: 1161px;
    top: 187px;

    border-radius: 20px;
}
.project_title{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 31px;
    

    display: flex;
    align-items: center;
    color: #000000;
}

.project_name1 {
    position: absolute;
    width: 234px;
    height: 24px;
    left: 380px;
    top: 510px;

}
.project_size{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    
    
    display: flex;
    align-items: center;
    
    color: #8A8A8A;
}
.project_size1 {
    position: absolute;
    width: 132px;
    height: 39px;
    left: 380px;
    top: 540px;
}
.project_name2 {
    position: absolute;
    width: 198px;
    height: 24px;
    left: 780px;
    top: 510px;
}
.project_size2 {
    position: absolute;
    width: 124px;
    height: 18px;
    left: 780px;
    top: 550px;
}
.project_name3 {
    position: absolute;
    width: 197px;
    height: 24px;
    left: 1180px;
    top: 510px;
}
.project_size3 {
    position: absolute;
    width: 238px;
    height: 18px;
    left: 1161px;
    top: 550px;
}
.price_styles {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    

    display: flex;
    align-items: center;

    color: #000000;
}
.price_1 {
    position: absolute;
    width: 176px;
    height: 19px;
    left: 380px;
    top: 640px;
}
.price_2 {
    position: absolute;
    width: 176px;
    height: 19px;
    left: 780px;
    top: 640px;
}
.price_3 {
    position: absolute;
    width: 176px;
    height: 19px;
    left: 1179px;
    top: 640px;
}
.price_crossed_1, .price_crossed_2, .price_crossed_3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
   
    
    display: flex;
    align-items: center;
    text-decoration-line: line-through;
    
    color: #8A8A8A;
}
.price_crossed_1{
    position: absolute;
    width: 100px;
    height: 16px;
    left: 526px;
    top: 630px;
}
.price_crossed_2{
    position: absolute;
    width: 100px;
    height: 16px;
    left: 932px;
    top: 630px;
}
.price_crossed_3{
    position: absolute;
    width: 100px;
    height: 16px;
    left: 1350px;
    top: 630px;
}
.providers_list{
    position: absolute;
    width: 1920px;
    height: 170.21px;
    left: 2px;
    top: 4100px;
}
.profit_1, .profit_2, .profit_3{
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 500;
    font-size: 17px;
    line-height: 0px; 
    display: flex;
    align-items: center;
    
    
    color: #000000;
}
.profit_1{
    position: absolute;
    width: 142.87px;
    height: 20px;
    left: 426px;
    top: 715px;
    
}
.profit_2{
    position: absolute;
    width: 152.53px;
    height: 20px;
    left: 826px;
    top: 715px;
}
.profit_3{
    position: absolute;
    width: 202.2px;
    height: 20px;
    left: 1224px;
    top: 715px;
}

.que_text{
    font-family: 'Lato';
    font-style: light;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #EEEEEE;
    
}

.FAQ {
    position: absolute;
    height: 877px;
    left: 0px;
    right: 2px;
    top: 5463px;
    
    background: #EEEEEE;
}
.FAQ_title {
    position: absolute;
    width: 580px;
    height: 45px;
    left: 730px;
    top: 10px;
    text-align: center;
}
.questions_background {
    position: absolute;
    height: 670px;
    left: 467px;
    right: 497px;
    top: 100px;
    
    background: #3E3E41;
    border-radius: 10px;
}
.que_line_1 {
    position: absolute;
    height: 1px;
    left: 10px;
    right: 1251px;
    width: 50px;
    top: 50px;
    
    background: #A6A6A6;
}
.question_1 {
    position: absolute;
    width: 571px;
    height: 75px;
    left: 25px;
    
}
.FAQ_button_1 {
    position: absolute;
    height: 50px;
    left: 1286px;
    right: 586px;
    
    background-image: url(..\images\button+.png);
}
.que_line_2 {
}
.question_2 {
}
.FAQ_button_2 {
}
.que_line_3 {
}
.question_3 {
}
.FAQ_button_3 {
}
.que_line_4 {
}
.question_4 {
}
.FAQ_button_4 {
}
.que_line_5 {
}
.question_5 {
}
.FAQ_button_5 {
}
.que_line_6 {
}
.question_6 {
}
.FAQ_button_6 {
}
.que_line_7 {
}
.question_7 {
}
.FAQ_button_7 {
}
.que_line_8 {
}
.question_8 {
}
.FAQ_button_8 {
}
.que_line_9 {
}
.question_9 {
}
.FAQ_button_9 {
}




.provider{
    position: absolute;
    width: 248px;
    height: 49.3px;
    left: 838px;
    top: 100px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    
    color: #000000;
}
.line_3{
    position: absolute;
    width: 1920px;
    height: 0px;
    top: 170px;
    
    
    border: 1px solid #A9A9A9;
    transform: matrix(-1, 0, 0, -1, 0, 0);
}
.era{
    
    position: absolute;
    width: 238px;
    height: 96.07px;
    left: 644px;
    top: 200px;
}
.es{
    position: absolute;
    width: 98px;
    height: 96.36px;
    left: 974px;
    top: 200px;
}
.smartbuy{
    box-sizing: border-box;

    position: absolute;
    top: 200px;
    left: 398px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.may{
    position: absolute;
    width: 129px;
    height: 81.8px;
    left: 1172px;
    top: 200px;
}
.profit{
    box-sizing: border-box;

    position: absolute;
    left: 1373px;
    top: 200px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.providers_list li{
    list-style-type:none;
}
.footer{
    position: absolute;
    width: 100%;
    height: 303px;
    left: 0;
    top: 4600px;
}
.footer_background{
    position: absolute;
    width: 1920px;
    height: 303px;
    
    
    
    background: #000000;
}
.logo_footer{
    position: absolute;
    width: 172.73px;
    height: 171.07px;
    left: 200.69px;
    top: 50px;
}
.number{
    position: absolute;
    width: 144.77px;
    height: 37.33px;
    left: 412.36px;
    top: 50px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    
    color: #FFFFFF; 
}
.kr{
    position: absolute;
    width: 374.41px;
    height: 97px;
    left: 399.38px;
    top: 200px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    
    color: rgba(207, 207, 207, 0.81) 
}

.consult_2{
    position: absolute;
    width: 243.62px;
    height: 30px;
    left: 415.37px;
    
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    position: absolute;
    width: 257.6px;
    height: 48px;
    left: 399.38px;
    top: 100px;
    
    background: #811919;
    border-radius: 45px;
}

