@font-face{
    font-family: "Intro Regular";
    src: url(fonts\ofont.ru_Intro.ttf);
}
ul.menu a {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.menu-button1 {
    position: absolute;
    width: 138px;
    height: 31px;
    left: 370px;
    top: 79px; 
    z-index: 1;
}
.menu-button2 {
    position: absolute;
    width: 137px;
    height: 30px;
    left: 542px;
    top: 80px;
    z-index: 1;
}
.menu-button3 {
    position: absolute;
    width: 138px;
    height: 29px;
    left: 712px;
    top: 80px;
    z-index: 1;
}
.menu-button4 {
    position: absolute;
    width: 170px;
    height: 31px;
    left: 1050px;
    top: 79px;
    z-index: 1;
}
.menu-button5 {
    position: absolute;
    width: 120px;
    height: 31px;
    left: 1255px;
    top: 80px;
    z-index: 1;
}
.menu-button6{
    position: absolute;
    width: 141px;
    height: 32px;
    left: 1409px;
    top: 80px;
    z-index: 1;
}
li a:hover {
    color: rgb(0, 0, 0); 
   }
.head {
    position: absolute;
    width: 1920px;
    height: 191.92px;
    left: -2px;
    top: 0px;
    max-width: 100%;
    
    background: #000000;   
}
.navpage {
    position: absolute;
width: 1923px;
height: 33.28px;
left: -2px;
top: 78px;
max-width: 100%;

background: #811919;
}
.logo {
    position: absolute;
width: 186px;
height: 191.92px;
left: 851px;
top: 2.08px;
}
.slider{
    position: absolute;
    width: 1920px;
    height: 737.97px;
    left: 0px;
    top: 184.03px;
    max-width: 100%;
}
.slider-header{
    position: absolute;
    width: 759px;
    height: 83px;
    left: 337px;
    top: 419px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 71px;
    text-align: center;

color: #FFFFFF;
}
.slider-text{
    position: absolute;
    width: 581px;
    height: 229px;
    left: 370px;
    top: 550px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    color: #FFFFFF;
}
.slider-section_turned{
    position: absolute;
    width: 16px;
    height: 16.8px;
    left: 917px;
    top: 889.91px;
    border-radius: 90%;
    background: #FFFFFF;
   
}
.slider-section_1{
    position: absolute;
    width: 16px;
    height: 16.8px;
    left: 951px;
    top: 889.91px;
    border-radius: 90%;
    background: #9E9C9C;
    
}
.slider-section_2{
    position: absolute;
    width: 16px;
    height: 16.8px;
    left: 985px;
    top: 889.91px;
    border-radius: 90%;
    background: #9E9C9C;
    
}
.arrow-left{
    margin: 20px 8px;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0%;
    right: 98%;
    top: 50%;
    bottom: 85.89%;
    transform: rotate(180deg);
}
.arrow-right{
    margin: 20px 8px;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 95%;
    right: 0%;
    top: 50%;
    bottom: 85.89%;
    
}
.advantages{
position: absolute;
width: 759px;
height: 83px;
left: 580px;
top: 987px;

font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 71px;
text-align: center;

color: #000000;
}
.adv{
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;

color: #000000;
}
.adv_1{
    position: absolute;
    width: 186px;
    height: 92px;
    left: 468px;
    top: 1131px;
}
.adv_2{
    position: absolute;
    width: 230px;
    height: 77px;
    left: 863px;
    top: 1135px;
}
.adv_3{
    position: absolute;
    width: 230px;
    height: 54px;
    left: 1320px;
    top: 1135px;
}
.adv_4{
    position: absolute;
    width: 180px;
    height: 84px;
    left: 468px;
    top: 1233px;
}
.adv_5{
    position: absolute;
    width: 230px;
    height: 77px;
    left: 863px;
    top: 1236px;
}
.adv_6{
    position: absolute;
    width: 230px;
    height: 77px;
    left: 1320px;
    top: 1240px;
}
.adv1{
    position: absolute;
width: 66px;
height: 81px;
left: 370px;
top: 1114px;
}
.adv2{
    position: absolute;
    width: 66px;
    height: 61px;
    left: 797px;
    top: 1124px;
}
.adv3{
    position: absolute;
    width: 85px;
    height: 74px;
    left: 1235px;
    top: 1121px;
}
.adv4{
    position: absolute;
    width: 38px;
    height: 63px;
    left: 384px;
    top: 1243px;
}
.adv5{
    position: absolute;
    width: 58px;
    height: 70px;
    left: 797px;
    top: 1240px;
}
.adv6{
    position: absolute;
    width: 70px;
    height: 71px;
    left: 1243px;
    top: 1243px;
}
.consult{
    position: absolute;
    width: 364px;
    height: 48px;
    left: 780px;
    top: 1405px;
    
    background: #811919;
    border-radius: 79px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    
    color: #FFFFFF;
}
.line_1{
    position: absolute;
    width: 1920px;
    height: 0px;
    top: 1485px;
    
    border: 1px solid #A9A9A9;
    transform: matrix(-1, 0, 0, -1, 0, 0);
}
.section2_text{
    position: absolute;
    width: 407px;
    height: 45.63px;
    left: 263px;
    top: 1495px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    
    color: #000000;
}
.sol_1{
    position: absolute;
    width: 844px;
    height: 418px;
    left: 228px;
    top: 1594px;
    
    background: rgba(243, 242, 242, 0.69);
    border-radius: 105px;
}
.sol_2{
    position: absolute;
    width: 616.84px;
    height: 418px;
    left: 1109px;
    top: 1594px;
    
    background: rgba(243, 242, 242, 0.69);
    border-radius: 105px;  
}
.sol_3{
    position: absolute;
    width: 511px;
    height: 348px;
    left: 228px;
    top: 2103px;
    
    background: rgba(243, 242, 242, 0.69);
    border-radius: 105px;
}
.sol_4{
    position: absolute;
    width: 499px;
    height: 350.36px;
    left: 799px;
    top: 2091.64px;
    
    background: rgba(243, 242, 242, 0.69);
    border-radius: 105px;
}
.sol_5{
    position: absolute;
    width: 385px;
    height: 364px;
    left: 1341px;
    top: 2092px;
    
    background: rgba(243, 242, 242, 0.69);
    border-radius: 105px;
}
.solutions a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    
    color: #000000;
}
.sol_1 a{
    position: absolute;
    width: 219.26px;
    height: 108px;
    left: 450px;
    top: 150px;
}
.sol_2 a{
    position: absolute;
    width: 200.58px;
    height: 108px;
    left: 350px;
    top: 150px;
    
}
.sol_3 a{
    position: absolute;
    width: 219.26px;
    height: 108px;
    left: 160px;
    top: 250px;
}
.sol_4 a{
    position: absolute;
    width: 219.26px;
    height: 108px;
    left: 145px;
    top: 250px;
}
.sol_5 a{
    position: absolute;
    width: 219.26px;
    height: 108px;
    left: 85px;
    top: 250px;
}
.light_1{
    position: absolute;
    width: 416.5px;
    height: 323px;
    left: 25px;
    top: 65px;
}
.light_2{
    position: absolute;
    width: 381.02px;
    height: 323px;
    left: 25px;
    top: 65px;
}
.light_3{
    position: absolute;
    width: 443px;
    height: 289px;
    left: 45px;
    top: -45px;
}
.light_4{
    position: absolute;
    width: 433px;
    height: 393px;
    left: 45px;
    bottom: 125px;
}
.light_5{
    position: absolute;
    width: 315.2px;
    height: 203.77px;
    left: 45px;
    bottom: 125px;
}
.order{
    position: absolute;
    width: 253px;
    height: 48px;
    left: 835px;
    top: 2549px;
    
    background: #811919;
    border-radius: 79px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    
    color: #FFFFFF;
}
.section3_text{
    position: absolute;
    width: 1068px;
    height: 111px;
    left: 416px;
    top: 2656px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    
    color: #000000;
}
.line_2{
    position: absolute;
    width: 1920px;
    height: 0px;
    top: 2760px;
    
    border: 1px solid #A9A9A9;
    transform: matrix(-1, 0, 0, -1, 0, 0);
}
.dialux_1{
    position: absolute;
    width: 541px;
    height: 295px;
    left: 372px;
    top: 2800px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    color: #000000;
}
.dialux_2{
    position: absolute;
    width: 620px;
    height: 250px;
    left: 932px;
    top: 2800px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    color: #000000;
    
}
.svodka{
    position: absolute;
    width: 1920px;
    height: 802px;
    left: 2px;
    top: 3250px;

    background: #000000;
}
.panel_1_head{
    position: absolute;
    width: 280px;
    height: 76px;
    left: 675px;
    top: 20px;
    
    font-family: 'Marmelad';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    
    color: #000000;
}
.panel_1_img{
    position: absolute;
    width: 787px;
    height: 390px;
    left: 274px;
    
}
.panel_1{
    position: absolute;
    width: 285px;
    height: 141px;
    left: 684px;
    top: 130px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

color: #000000;
}
.panel_2{
    position: absolute;
    width: 285px;
    height: 141px;
    left: 1380px;
    top: 130px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    
    color: #000000;
}
.panel_2_head{
    position: absolute;
    width: 330px;
    height: 108px;
    left: 1375px;
    top: 20px;
    
    font-family: 'Marmelad';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    
    color: #000000;
    
}
.panel_2_img{
    position: absolute;
    width: 787px;
    height: 390px;
    left: 986px;
}
.panel_3{
    position: absolute;
    width: 285px;
    height: 141px;
    left: 684px;
    top: 550px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    
    color: #000000;
}
.panel_3_head{
    position: absolute;
    width: 311px;
    height: 76px;
    left: 668px;
    top: 450px;
    
    font-family: 'Marmelad';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    
    color: #000000;
}
.panel_3_img{
    position: absolute;
    width: 787px;
    height: 406.12px;
    left: 274px;
    top: 400px;
}
.panel_4{
    position: absolute;
    width: 285px;
    height: 141px;
    left: 1380px;
    top: 550px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    
    color: #000000;
}
.panel_4_head{
    position: absolute;
    width: 280px;
    height: 76px;
    left: 1375px;
    top: 450px;
    
    font-family: 'Marmelad';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    
    color: #000000;
}
.panel_4_img{
    position: absolute;
    width: 787px;
    height: 390px;
    left: 986px;
    top: 400px;
}
.price{
    position: absolute;
    width: 364px;
    height: 48.67px;
    left: 767px;
    top: 730px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
   
    
    text-align: center;
    
    color: #FFFFFF;

    background: #811919;
    border-radius: 79px;
}
.providers_list{
    position: absolute;
    width: 1920px;
    height: 170.21px;
    left: 2px;
    top: 4100px;
}
.provider{
    position: absolute;
    width: 248px;
    height: 49.3px;
    left: 838px;
    top: 100px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    
    color: #000000;
}
.line_3{
    position: absolute;
    width: 1920px;
    height: 0px;
    top: 170px;
    
    
    border: 1px solid #A9A9A9;
    transform: matrix(-1, 0, 0, -1, 0, 0);
}
.era{
    
    position: absolute;
    width: 238px;
    height: 96.07px;
    left: 644px;
    top: 200px;
}
.es{
    position: absolute;
    width: 98px;
    height: 96.36px;
    left: 974px;
    top: 200px;
}
.smartbuy{
    box-sizing: border-box;

    position: absolute;
    top: 200px;
    left: 398px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.may{
    position: absolute;
    width: 129px;
    height: 81.8px;
    left: 1172px;
    top: 200px;
}
.profit{
    box-sizing: border-box;

    position: absolute;
    left: 1373px;
    top: 200px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
.providers_list li{
    list-style-type:none;
}
.footer{
    position: absolute;
    width: 1920px;
    height: 303px;
    top: 4600px;
}
.footer_background{
    position: absolute;
    width: 1920px;
    height: 303px;
    
    
    
    background: #000000;
}
.logo_footer{
    position: absolute;
    width: 172.73px;
    height: 171.07px;
    left: 200.69px;
    top: 50px;
}
.number{
    position: absolute;
    width: 144.77px;
    height: 37.33px;
    left: 412.36px;
    top: 50px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    
    color: #FFFFFF; 
}
.kr{
    position: absolute;
    width: 374.41px;
    height: 97px;
    left: 399.38px;
    top: 200px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    
    color: rgba(207, 207, 207, 0.81) 
}

.consult_2{
    position: absolute;
    width: 243.62px;
    height: 30px;
    left: 415.37px;
    
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;
    position: absolute;
    width: 257.6px;
    height: 48px;
    left: 399.38px;
    top: 100px;
    
    background: #811919;
    border-radius: 45px;
}

